@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.root {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typography {
  padding: $indent-xl;
}

.paper {
    max-width: 500px;
}

.title {
  margin-bottom: $indent-l;
}

.image {
    width: 100%;
    border-radius: 6px 6px 0 0;
}