@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

/* eslint-disable */
.root {
  margin: 40px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.root > * {
  margin-bottom: $indent-xl;
}

.root > *:last-child {
  margin-bottom: 0;
}

.paper {
  padding: $indent-xl;
  max-width: 500px;
}

.title {
  margin-bottom: $indent-l;
}
